h1{
background-color: blue;
font-family:  Helvetica;
border: aqua;
color: red;
}
body {background-color: powderblue;}

#footer{
background: #777777;
color:  white;
text-align: center;
padding: 15%;

}